/* ctrl + shift + p, format document */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
    color: #0f1d40;
}

p {
    color: #455466;
}

p span {
    color: #455466;
}

a:hover {
    color: #3a4974;
}

.content {
    max-width: 2560px;
    padding: 30px;
}

/* cards shadow*/
.shadow {
    /*https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

.shadow-light {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 15px;
}

/* spacer */
.spacer {
    aspect-ratio: 1440/175;
}

.divider-animated-waves-pink {
    background-image: url(../public/dividers/animated-waves-pink.svg);
    margin-top: 15px;
    margin-bottom: -1px;
}

.divider-animated-waves-green {
    background-image: url(../public/dividers/animated-waves-green.svg);
    margin-top: 60px;
    margin-bottom: -1px;
}

.divider-animated-waves-footer {
    margin-top: 20px;
    background-image: url(../public/dividers/animated-waves-footer.svg);
    margin-bottom: -1px;
}

.divider-tilted-triange {
    background-image: url(../public/dividers/tilted-triange.svg);
}

.gradient-btn {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    width: 15%;

    position: relative;
    /* stops whole bg being coloured */
    border: 4px solid transparent;
    border-radius: 10px;
    background: white;
    background-clip: padding-box;
}

.gradient-btn::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(45deg, #eeca55, #c9772f, #ce2b7b, #a95be4);
    content: '';
    z-index: -1;
    border-radius: 10px;
}

.gradient-btn:hover::after {
    background: linear-gradient(5deg, #eeca55, #c9772f, #ce2b7b, #a95be4);
}

/* text colour gradient */
.insta-colour-gradient {
    background: -webkit-linear-gradient(45deg, #eeca55, #c9772f, #ce2b7b, #a95be4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insta-colour-gradient:hover {
    background: -webkit-linear-gradient(75deg, #eeca55, #ce2b7b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitter-colour-gradient {
    background: -webkit-linear-gradient(45deg, #50cdff, #329ce2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitter-colour-gradient:hover {
    background: -webkit-linear-gradient(45deg, #60c9f3, #117ac0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tags */
.coloured-tag {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: -10px;
}

.green {
    color: #0cb425;
}

.red {
    color: #cf3b3b
}

.blue {
    color: #3b94cf
}

/* non movable */
.unselectable {
    pointer-events: none;
    user-select: none;
}

/* navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    color: #f1356d;
    font-family: Quicksand;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    padding: 6px;
}

.navbar .links {
    margin-left: auto;
}

.navbar-link:hover {
    color: #f1356d;
}

.navbar-active {
    box-shadow:
        rgba(240, 46, 170, 0.4) 3px 3px 2px,
        rgba(240, 46, 170, 0.3) 6px 6px 2px,
        rgba(240, 46, 170, 0.2) 9px 9px 2px,
        rgba(240, 46, 170, 0.1) 12px 12px 2px;
}

/* hero section */

.hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

#hero-title {
    font-size: 40px;
    font-weight: 600;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.hero-info a {
    min-width: 100px;
}

.hero-video {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: auto;
    transform: rotate(2deg);
    margin-top: 5px;
    border: 2px solid rgba(247, 199, 127, 0.5);
}

/* available tools section */
.available-tools {
    background:
        linear-gradient(to top, #ff7eba, rgba(255, 255, 255, 0)),
        linear-gradient(to right, #ffd466, #ff7eba);
}

.available-tools-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.available-tools-text p {
    color: rgb(20, 20, 20);
    width: 50%;
}

.available-tools-text h1 {
    color: rgb(40, 40, 40);
    font-size: 40px;
    font-weight: 600;
    min-width: min-content;
}

.available-tools-text h1 span {
    color: rgb(40, 40, 40);
    font-size: 40px;
    font-weight: 600;
    min-width: min-content;
}

.tool-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin: 12px;
    background: #fff;
    padding: 20px;
    width: 200px;
    height: fit-content;
    font-size: 14px;
    z-index: 0;
    /* move below btn colour gradient */
}

.tool-card:hover {
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.tool-status {
    color: #0cb425;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -10px;
}

.tool-coming-soon {
    color: #cf3b3b;
    font-weight: bold;
}

.tool-card h2 {
    /*font-weight: bold;*/
    font-weight: 500;
}

.tool-card img {
    max-width: 100%;
    align-items: flex-start;
}

.tool-card a {
    width: 30%;
    margin-top: 5px;
}

.tool-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;
}

/* features */
.features {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.features h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #eeca55, #c9772f, #ce2b7b, #a95be4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.feature-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 220px;
    text-align: center;
}

.feature-card-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    align-items: center;
}

.feature-card-title img {
    max-width: 35px;
    filter: invert(74%) sepia(14%) saturate(162%) hue-rotate(172deg) brightness(98%) contrast(82%);
    flex-basis: 100%;
}

.feature-card h2 {
    font-size: 18px;
    font-weight: 500;
}

.feature-card p {
    font-size: 14px;
}

/* quote page */
.tool-content {
    margin: 45px;
}

.tool-content .text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tool-content .text h1 {
    font-size: 40px;
    font-weight: 600;

    /*
    height: fit-content;
    border-bottom: solid 10px #ccc;
    border-bottom-right-radius: 10px; 
    border-bottom-width: 8px;
    */
}

.tool-content .text p {
    width: 50%;
}

.tool-content .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.tool-content .form-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 7;
    gap: 30px;
    padding: 25px;
    margin: 0px 15px 0px 0px;
    font-size: 14px;
    background: linear-gradient(180deg, #ffd466, #ffb2a5, #ff7eba);
}

.tool-content .form-card .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tool-content .form-card .form label {
    font-size: 16px;
    font-weight: 500;
    color: #353535;
}

.tool-content .form-card .form input {
    height: 40px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tool-content .form-card .form input:last-child {
    margin-top: 10px;
    margin-bottom: -5px;
    width: 15%;
    min-width: 120px;
    align-self: center;
}

.example-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 3;
    gap: 30px;
    padding: 25px;
    margin: 0px 0px 0px 15px;
    width: min-content;
    font-size: 14px;
    background: linear-gradient(180deg, #ffd466, #ffb2a5, #ff7eba);

}

.example-card img {
    max-width: 100%;
    border-radius: 15px;
}

.example-card video {
    max-width: 100%;
    border-radius: 15px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;

    background:
        linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 0%),
        linear-gradient(to right, #fff 30%, #ce2b7b);
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 25px;
    font-size: 15px;
}

.footer-logo {
    font-size: 20px;
}


.footer img {
    max-width: 20px;
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(100%) contrast(103%);
}

.pricing-section {
    margin-bottom: 75px;
    background:
        linear-gradient(to top, #fff 60%, rgba(255, 255, 255, 0)),
        linear-gradient(to right, #7BDCB5, #fff);
}

.pricing-section h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(27, 27, 27);
}

.pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index only works on positioned elements*/
    position: relative;
    z-index: 0;
    gap: 65px;
}

.pricing-table .table-wrapper {
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.pricing-table table {
    border-collapse: collapse;
    min-width: 500px;
}

/*https://dev.to/temmietope/rounded-edges-on-table-rows-1d0n*/
.pricing-table td:first-child,
.pricing-table th:first-child {
    border-radius: 15px 0 0 15px;
}

.pricing-table td:last-child,
.pricing-table th:last-child {
    border-radius: 0 15px 15px 0;
}

/* twitter tiktok icons */
.pricing-table img {
    width: 16px;
    vertical-align: middle;
}

/* trial button*/
.pricing-table a {
    width: auto;
}

/* row padding */
.pricing-table th, td {
    padding: 16px;
}

/* striped rows */
.pricing-table tr:nth-child(even) {
    background-color: #f2f2f2;
    border-radius: 10px;
}

/* center text */
.pricing-table tr th,
.pricing-table tr td:nth-child(2),
.pricing-table tr td:nth-child(3) {
    text-align: center;
}

/* text colour */
.pricing-table tr td:nth-child(2),
.pricing-table tr td:nth-child(3) {
    color: #455466;
}

/* bold sub types */
.pricing-table tr th {
    font-weight: 600;
}

/* free tier */
.pricing-table tr th:nth-child(2) {
    font-size: 16px;
    color: rgb(65, 65, 65);
}

/* creator tier */
.pricing-table tr th:nth-child(3) {
    font-weight: 600;
    background: -webkit-linear-gradient(45deg, #eeca55, #c9772f, #ce2b7b, #a95be4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* bold benefits */
.pricing-table tr td:nth-child(1) {
    font-weight: 500;
}

/* blur price */
.blur-price {
    color: transparent !important;
    text-shadow: 0 0 8px #000;
}

/* trial btn */
.trial-btn {
    position: relative;
}

.trial-btn a {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}

.trial-btn img {
    width: 18px;
    position: absolute;
    transform: rotate(-10deg);
    right: 178px;
    top: 12px;
}

.trial-btn p {
    font-size: 12px;
    color: rgb(155, 155, 155);
    position: absolute;
    bottom: -30px;
    right: 14px;
}

/* media queries */
@media (max-width: 415px) {
    .available-tools-text h1 span {
        display: block;
    }

    .feature-card-title h2,
    .feature-card p {
        text-align: center;
    }
}

@media (max-width: 475px) {
    .pricing-table table tr td {
        font-size: calc(0.75em + 1vmin);
    }
}

@media (max-width: 500px) {
    .hero-video {
        display: none;
    }
}

@media (max-width: 560px) {
    .navbar {
        justify-content: center;
    }

    .navbar .logo {
        flex-basis: 100%;
    }

    .navbar .links {
        margin: 0px;
    }

    .pricing-table table {
        min-width: 0px;
    }
}

@media(max-width: 606px) {
    .tool-card {
        min-width: 80%;
        margin: 15px;
    }

    .tool-card:hover {
        margin: 15px;
    }

    .tool-card img {
        min-width: auto;
        height: auto;
    }

    .features h1 {
        margin-top: 20px;
        margin-bottom: -15px;
    }

    .available-tools-text p {
        width: 80%;
    }

    .pricing-table .table-wrapper {
        padding: 0px;
        /* .shadow-light */
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .pricing-table td:first-child,
    .pricing-table th:first-child,
    .pricing-table td:last-child,
    .pricing-table th:last-child {
        border-radius: 0px;
    }
}

@media (max-width: 618px) {
    .feature-card {
        min-width: 70%;
    }
}

@media (max-width: 650px) {
    .tool-content {
        margin: 0px;
    }
}

@media (max-width: 670px) {
    .footer {
        padding-bottom: 15px;
    }

    .footer-text p span:nth-child(1) {
        color: #262626;
    }

    .footer-text p span:nth-child(2),
    .footer-text p span:nth-child(3),
    .footer img {
        display: none;
    }
}

@media (max-width: 700px) {
    #hero-text-second-line {
        display: none;
    }

    .footer, .footer-text {
        justify-content: center;
    }

    .footer-text {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 850px) {
    .tool-content .text {
        justify-content: center;
        text-align: center;
    }

    .tool-content .text h1 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .tool-content .text p {
        width: 100%;
    }
}

@media (max-width: 870px) {
    .available-tools-text {
        text-align: center;
    }

    .available-tools-text h1 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1092px) {
    .hero-info {
        text-align: center;
        align-items: center;
    }

    .hero-section {
        gap: 40px;
    }

    .hero-video {
        transform: rotate(0deg);
    }
}

@media (max-width: 1100px) {
    .card-wrapper {
        justify-content: flex-start;
        gap: 30px;
    }

    .card-wrapper .form-card {
        flex-basis: 100%;
        margin-right: 0px;
    }

    .card-wrapper .example-card {
        margin-left: 0px;
    }

}